.header {
    &__right {
        @include center-element;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__btn {
        width: 36px;
        height: 36px;
        @include center-element;
        border-radius: 50%;
    }

    &__btn + &__btn {
        margin-left: 0.5rem;
    }
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    padding: 0;

    color: $color-text-nav;
    background-color: $background-primary;

    font-weight: weight(bold);
    text-transform: uppercase;
    box-shadow: 0 0 3px rgba(60, 72, 88, .15);

    &__logo-link {
        min-height: 68px;
        align-items: center;
        @include center-element;
    }

    &__logo {
        height: 24px;
    }

    &__list {
        background-color: $background-primary;
        margin: 0;
    }

    &__item {
        position: relative;
        display: block;
        margin: 0 10px;

        &:hover > .sub-nav {
            transform: translateY(0%);
            visibility: visible;
            opacity: 1;
        }

        &:hover > a > .main-nav__dropdown {
            transform: rotate(180deg);
        }

        &:hover > .sub-nav.full-width {
            transform: translate(-50%, 0%);
            visibility: visible;
            opacity: 1;
        }
    }

    &__link {
        display: block;
        padding: 25px 15px;
        
        color: inherit;
        
        font-size: 0.8125rem;
        text-decoration: none;
        letter-spacing: 1px;

        &:hover {
            color: var(--color-primary);
        }        

        &.active {
            color: var(--color-primary);
        }
    }

    &__dropdown {
        margin-left: 0.25rem;
        font-style: inherit;
        transition: all 0.3s ease-in-out;

        &--end {
            float: right;
            margin: 0.25rem;
            font-style: inherit;
            transform: rotate(-90deg);
        }
    }

    &__btn {
        font-size: 28px;

        &:focus {
            color: $primary-color;
            box-shadow: none;
            outline: none;
        }
    }
}

.sub-nav {
    position: absolute;
    top: 100%;
    left: 0;
    
    padding: 15px 0;
    margin-top: 0.125rem;
    border: none;
    border-radius: 6px;
    
    background-color: #fff;

    box-shadow: 0 0 3px rgba(60, 72, 88, .15);
    transform: translateY(10%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &__item {
        position: relative;
        display: block;
        
        &:hover > .sub-nav {
            transform: translateY(0%);
            visibility: visible;
            opacity: 1;
        }

        &:hover .sub-nav {
            display: block;
        }
    }
    
    &__link {
        display: block;
        
        min-width: 180px;
        padding: 8px 20px;
        margin: 1px 0;
        
        color: inherit;
        
        font-size: 0.6875rem;
        font-weight: weight(bold);
        text-decoration: none;
        letter-spacing: 0.04em;
    }
    
    &--end {
        top: 0;
        left: 100%;
        margin-right: .125rem;
    }

    &.full-width {
        position: fixed;
        top: auto;
        left: 50%;
        transform: translate(-50%, 10%);

        display: flex;
        flex-wrap: wrap;

        width: 1140px;
        visibility: hidden;

        & .sub-nav__item {
            flex-basis: 20%;
        }
    }

    &.full-width-img {
        @extend .full-width;
        text-align: center;
    }
}

@include media-to-lg() {
    .sub-nav {
        &.full-width {
            width: 960px;
        }
    }
}
            
@include media-tablet-and-mobile {
    .main-nav {
        &__list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;

            max-height: 60vh;
            overflow-y: scroll;
            box-shadow: 0 0 3px rgba(60, 72, 88, .15);
        }
        
        &__item {
            &:hover > .sub-nav {
                display: block;
            }

            &:hover > .sub-nav.full-width {
                transform: none;
                display: flex;
            }
        }
    
        &__link {
            padding: 10px 20px;
        }
    }

    .sub-nav {
        position: static;
        padding: 0 16px;
        transition: none;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
        display: none;

        &__link {
            padding: 5px 15px;
        }

        &.full-width {
            position: static;
            transition: none;
            flex-direction: column;
            flex-wrap: nowrap;
            transform: none;
            width: 100%;
            display: none;
        }

        &.full-width-img {
            // @extend &.full-width;
            text-align: left;
            
            img {
                display: none;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}