$color-text-nav: #3c4858;
$color-royalblue: #2f55d4;
$color-darkseagreen: #6dc77a;
$color-slateblue: #7952b3;
$color-tomato: #ff5b69;
$color-mediumturquoise: #32c2ec;
$color-teal: #0f7173;
$color-lightseagreen: #00c9a7;
$color-mediumslateblue: #766df4;
$color-darkorange: #f7961c;

$background-primary: #fff;
$primary-color: #2f55d4;
$font-weight: (
    "regular": 400,
    "medium": 600,
    "bold": 700
);