footer.footer-site
    .container.py-60
        .row
            .col-md-12.col-lg-4
                .section-content
                img.pb-4(src='./assets/img/logo-light.png' alt='logo' width='120px')
                p.mt-4.mb-4
                    | Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.
                .d-flex.mb-4
                    a.px-3.social-link(href='#')
                        i.fab.fa-facebook-f
                    a.px-3.social-link(href='#')
                        i.fab.fa-twitter
                    a.px-3.social-link(href='#')
                        i.fab.fa-instagram
                    a.px-3.social-link(href='#')
                        i.fab.fa-pinterest-p
            .col-md-12.col-lg-8
                .row
                    .col-sm-4
                        .footer__info
                        h5.text-white Company
                        a(href='#' class="footer-site__link") About us
                        a(href='#' class="footer-site__link") Services
                        a(href='#' class="footer-site__link") Team
                        a(href='#' class="footer-site__link") Pricing
                        a(href='#' class="footer-site__link") Project
                        a(href='#' class="footer-site__link") Careers
                        a(href='#' class="footer-site__link") Blog
                        a(href='#' class="footer-site__link") Login
                    .col-sm-4
                        .footer__info
                        h5.text-white Usefull Links
                        a(href='#' class="footer-site__link") Terms of Services
                        a(href='#' class="footer-site__link") Privacy Policy
                        a(href='#' class="footer-site__link") Documentation
                        a(href='#' class="footer-site__link") Changelog
                        a(href='#' class="footer-site__link") Components
                    .col-sm-4
                        address.footer__info
                            h5.text-white Location
                            a(href='#' class="d-block mb-2")
                                i.fas.fa-map-marker-alt.me-2
                                | 121 King Melbourne Australia 3000
                            a(href='tel:+61 2 8376 6284' class="d-block mb-2")
                                i.fas.fa-mobile-alt.me-2
                                | +61 2 8376 6284
                            a(href='mailto:mail@example.com' class="d-block mb-2")
                                i.far.fa-envelope.me-2
                                | mail@example.com
                            a(href='www.yourdomain.com' class="d-block mb-2")
                                i.fas.fa-globe-europe.me-2
                                | www.yourdomain.com
    .footer-site__copyright
        .container
            .row.justify-content-between.align-items-center
                .col-auto
                    p.mb-0 &copy; 2021 Landrick. Design with  by Shreethemes.
                .col-auto
                    .footer__links
                        a(href='#' class="ml-1") Terms 
                        a(href='#' class="ml-1") Security 
                        a(href='#' class="ml-1") Privacy 
                        a(href='#' class="ml-1") Policy