- 
    const navbar = {
        home: {link: "#"},
        landing: {
            type: "full-width",
            link: "#",
            item: [
                {subName: "SAAS", link: "#"},
                {subName: "CLASSIC SAAS", link: "#"},
                {subName: "AGENCY", link: "#"},
                {subName: "APPLICATION", link: "#"},
                {subName: "CLASSIC APPLICATION", link: "#"},
                {subName: "STUDIO", link: "#"},
                {subName: "MARKETING", link: "#"},
                {subName: "ENTERPRISE", link: "#"},
                {subName: "SERVICE", link: "#"},
                {subName: "PAYMENTS", link: "#"},
                {subName: "DEVELOPER", link: "#"},
                {subName: "SEO AGENCY", link: "#"},
                {subName: "HOSPITAL", link: "#"},
                {subName: "COWORKING", link: "#"},
                {subName: "IT SOLUTION", link: "#"},
                {subName: "IT SOLUTION TWO", link: "#"},
                {subName: "BUSINESS", link: "#"},
                {subName: "MODERN BUSINESS", link: "#"},
                {subName: "FINANCE", link: "#"},
                {subName: "HOTEL", link: "#"},
                {subName: "CONSTRUCTION", link: "#"},
                {subName: "REAL ESTATE", link: "#"},
                {subName: "VIDEO CONFERENCE", link: "#"},
                {subName: "BLOCKCHAIN", link: "#"},
                {subName: "CRYPTOCURRENCY TWO", link: "#"},
                {subName: "INTEGRATION", link: "#"},
                {subName: "TASK MANAGEMENT", link: "#"},
                {subName: "EMAIL INBOX", link: "#"},
                {subName: "TRAVEL", link: "#"},
                {subName: "INSURANCE", link: "#"},
                {subName: "ONLINE LEARNING", link: "#"},
                {subName: "COURSE", link: "#"},
                {subName: "PRODUCT", link: "#"},
                {subName: "SOCIAL MEDIA", link: "#"},
                {subName: "DIGITAL AGENCY", link: "#"},
                {subName: "CAR RIDE", link: "#"},
                {subName: "CUSTOMER", link: "#"},
                {subName: "SOFTWARE", link: "#"},
                {subName: "LANDING ONE", link: "#"},
                {subName: "LANDING TWO", link: "#"},
                {subName: "LANDING THREE", link: "#"},
                {subName: "LANDING FOUR", link: "#"},
                {subName: "PERSONAL", link: "#"},
                {subName: "FREELANCE", link: "#"},
                {subName: "EVENT", link: "#"},
                {subName: "E-BOOK", link: "#"},
                {subName: "SAAS ONEPAGE", link: "#"}
            ]
        },
        pages:{
            type: '',
            link: "#",
            item: [
                {
                    subName: "COMPANY", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]
                },
                {
                    subName: "ACCOUNT", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "EMAIL TEMPLATE", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "BLOG", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "CASE STUDY", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "AUTH PAGES", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "UTILITY", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "SPECIAL", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "CONTACT", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "MULTI LEVEL MENU", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]},
                {
                    subName: "FOOTER LAYOUTS", 
                    link: "#", 
                    item: [
                        {subName: "ABOUT US", link: "#"},
                        {subName: "ABOUT US TWO", link: "#"},
                        {subName: "SERVICES", link: "#"},
                        {subName: "HISTORY", link: "#"},
                        {subName: "TEAM", link: "#"},
                        {subName: "PRICING", link: "#"}
                    ]}
            ]
        },
        docs: {
            type: '',
            link: "#",
            item: [
                {subName: "DOCUMENTATION", link: "#"},
                {subName: "CHANGELOG", link: "#"},
                {subName: "COMPONENTS", link: "#"},
                {subName: "WIDGET", link: "#"}
            ]
        },
        demos: {
            type: 'full-width-img',
            link: "#",
            item: [
                {subName: "CORPORATE", link: "#", img: "./assets/img/corporate.png"},
                {subName: "CRYPTOCURRENCY", link: "#", img: "./assets/img/corporate.png"},
                {subName: "SHOP", link: "#", img: "./assets/img/corporate.png"},
                {subName: "PORTFOLIO", link: "#", img: "./assets/img/corporate.png"},
                {subName: "HELP CENTER", link: "#", img: "./assets/img/corporate.png"},
                {subName: "HOSTING & DOMAIN", link: "#", img: "./assets/img/corporate.png"},
                {subName: "JOB & CAREER", link: "#", img: "./assets/img/corporate.png"},
                {subName: "FORUMS", link: "#", img: "./assets/img/corporate.png"},
                {subName: "BLOG", link: "#", img: "./assets/img/corporate.png"},
                {subName: "", link: "#", img: "./assets/img/comingsoon.png"}
            ]
        }
    }